body
{
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: (1fr);
    place-items: center;
    background-color: #1c1c1c;
}

.header
{
    font-size: 1fr;
    color: lightgray;
}

.imgDiv img
{
    height: 100%;
    width: 100%;
    place-items: center;
}

.imgDiv
{
    position: relative;
}

.albumMenu
{
    width: 100%;
    height: 100%;
    position: absolute;
    top: -0%;
}

.imgDiv > .albumMenu
{
    opacity: 0;
    transition: opacity 1s;
}

.imgDiv:hover > .albumMenu
{
    opacity: 0.8;
}

.albumMenuText
{
    text-align: center;
    margin-top: -60%;
    font-size: 1fr;
    color: lightgray;
}

.Lys
{
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 1fr;
    color: lightgray;    
}




