body
{
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: (1fr);
    place-items: center;
}

.header
{
    font-size: 80%;
}

.imgDiv img
{
    height: 100%;
    width: 100%;
    place-items: center;
}

.imgDiv
{
    position: relative;
}

.albumMenu
{
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    
}

.Lys
{
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 100%;
    
}




