body
{
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: (1fr);
    place-items: center;
    background-color: #1c1c1c;
}

.header
{
    font-size: 1fr;
    color: lightgray;
}

.imgDiv img
{
    height: 100%;
    width: 100%;
    place-items: center;
}

.imgDiv
{
    position: relative;
}

.albumMenu
{
    width: 100%;
    height: 100%;
    position: absolute;
    top: -0%;
}

.imgDiv > .albumMenu
{
    opacity: 0;
    transition: opacity 1s;
}


.imgDiv:hover > .albumMenu
{
    opacity: 0.8;
}

.albumMenuText
{
    text-align: center;
    font-size: 1fr;
    font-style:oblique;
    font-weight: bolder;
    color: lightgray;
}

.Lys
{
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 1fr;
    color: lightgray;    
}

.albumButton
{
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: (1fr);
    place-items: center;
    align-items: center;
    position: absolute;
    height: 1fr;
    width: 90%;
    left: 5%;
    top: -0%;
    z-index: 1;
    opacity: 0;
    transition: opacity 1s;
}

.youtubeText 
{
    position: absolute;
    top: 25%;
    color: lightgray;
    font-style :normal;
    font-weight: bolder;
}

.instarText
{
    position: absolute;
    top: 50%;
    color: lightgray;
    font-style :normal;
    font-weight: bolder;
}

.twitterText
{
    position: absolute;
    top: 75%;
    color: lightgray;
    font-style :normal;
    font-weight: bolder;
    text-decoration: none;
}

.imgDiv:hover > .albumButton
{
    opacity: 1;
}


