.center
{
    display: grid;
    grid-auto-rows: minmax(25%);
    grid-template-columns: repeat(1,100%);
    place-items: center;
}


.imgDiv
{
    width: 31.25rem;
    height: 31.25rem;
    position: relative;
}

.imgDiv img
{
    width: 31.25rem;
    height: 31.25rem;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -15.625rem;
    margin-top: -15.625rem;
}

.albumMenu p
{
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.imgDiv .albumMenu
{
    opacity: 0;
    transition: opacity 1s ease;
}

.imgDiv:hover .albumMenu
{
    opacity: 0.8;
}